body{
	background-image: url(Bilder/bakbox.jpg); 
	width: 100%; 
	background-attachment: fixed;


} 
nav ul li:hover{
	background-color: goldenrod; 
}
.selected{
	background-color: goldenrod;
}

#row{
	margin-left: 5%;
	width: 90%;
}
#kinda{
	margin-left: 5%;
	width: 90%;
}
	
p {  
	font-size:125%;  
	font-family: Georgia,sans-serif,serif;
    text-align: justify;
} 

p#padress {
    text-align: center;
}


div#collapse1 {
    color: black;
}

div#collapse2 {
    color: black;
}
div#collapse3 {
    color: black;
}


#carousel{
	width: 90%; 
	margin-left: 5%;       
	margin-top: 0.5%;
} 

nav{
	width: 90%; 
	margin-left: 5%;  
} 
nav li{
	font-size: 20px;
    margin-top: 0.1%;
}
#text{
	width: 80%; 
	margin-left: 10%; 
	border: 1.5px goldenrod solid;
	border-radius: 0.5%;
	margin-top: -1%;
	background-color:black; 
	color: white; 
	font-family:Georgia;
	text-align: center; 

} 

.Texto{
	color: black;
}


footer{
	width: 90%; 
	margin-left:5%; 
	background-color: black; 
	text-align: center; 
	color: white; 
	margin-top: 0.25%;
} 

div#button {
    margin-bottom: 10px;
}

div#accordion {
    text-align: center;
}

h1 {
    color: goldenrod;
}

h2 {
    font-size: 40px;
}


h4 {
    text-align: left;
}


form    {
    margin-top: 3%;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    color: #fff;
    background-color: #3f729b;
    border-color: rgba(0,0,0,0.2);
}

img#boxningforalla {
    text-align: center;
    margin-bottom: 1%;
    width: 100%;
}

iframe#karta {
    
    width: 90%;
    height: 500px ;    
}

